.dialog-container {
  position: relative;
  padding: 8px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .error-message {
    color: red;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;

      .required {
        color: red;
      }

      input,
      select {
        width: 100%;
      }
    }
  }

  .dialog-actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end
  }
}
